# Allow FOD HAL service to be found
hal_client_domain(platform_app, hal_lineage_fod)

# Allow PowerShare HAL service to be found
hal_client_domain(platform_app, hal_lineage_powershare)
